{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="posts-container-two">
    <div class="left-section">
    </div>
    <div class="right-section">
        <div class="blog-cover" style="background: url('{{post.thumbnail.url}}'); background-size: cover;
    background-position: center;">
        </div>
        <div>
            <div class="blog-post-head">
                <div class="categories-container-two">
                    <a href="{% url 'posts' %}">
                        <div class="category">
                            <p><i class="fas fa-caret-left"></i></p>
                        </div>
                    </a>
                    <a href="{% url 'posts' %}?q={{post.category.name}}">
                        <div class="category">
                            <p>{{post.category.name}}</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="category">
                            <p>{{post}}</p>
                        </div>
                    </a>
                </div>
                <h1 class="hero-heading">{{post.title}}</h1>
                <div class="underheading">
                    <div class="card-profile-two">
                        <img class="profile-img-two" src="{% static 'images/profilepics/profile.jpg' %}" alt="Profile Image">
                        <div class="card-profile-info">
                            <h3 class="profile-name-two"><a href="{% url 'about' %}">Rajat Khandelwal</a></h3>
                        </div>
                    </div>
                    <p class="post-timesince">Posted {{post.created_on|timesince}} ago</p>
                </div>
            </div>
            <div>
                <div class="content-centerer">
                    <div class="content">
                        {{post.body|safe}}
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-section">
            <div class="comment-container">
                <div class="fb-like" data-href="http://127.0.0.1:8000/posts/{{post.post_id}}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
                <h2>Comments</h2>
                <div class="comment-form">
                    <form action="" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="field" tabindex="1">
                            <label for="name">
                                Your Name
                            </label>
                            <input name="name" type="text" placeholder="e.g. john doe" required>
                        </div>
                        <div class="field" tabindex="3">
                            <label for="message">
                                Your Comment
                            </label>
                            <textarea name="body" placeholder="Type Here" required></textarea>
                        </div>
                        <button class="btn" type="submit">Comment</button>
                    </form>
                </div>
                <div class="comments-load">
                    {% for comment in comments %}
                    <div>
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name by-author">{{comment.name}}</h6>
                                <span>{{comment.created_on|timesince}}</span>
                            </div>
                            <div class="comment-content">
                                {{comment.body}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <h2 style="padding-left: 2rem; padding-right: 2rem;">Categories</h2>
        <div class="categories-container">
            <a href="{% url 'posts' %}">
                <div class="category">
                    <p>All</p>
                </div>
            </a>
            {% for category in categories %}
            <a href="{% url 'posts' %}?q={{category.name}}">
                <div class="category">
                    <p>{{category.name}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="ultra-right">
    </div>
</div>
{% endblock content %}