<footer class="footer">
    <div class="footer-basic">
        <div>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'posts' %}">Blogs</a></li>
                <li class="list-inline-item"><a href="{% url 'books' %}">Books</a></li>
                <li class="list-inline-item"><a href="{% url 'about' %}">About</a></li>
            </ul>
            <p class="copyright">Rajat Khandelwal © 2022</p>
        </div>
    </div>
</footer>